:root {
  --total-black: #000;
  --gray-1: #f2f6fa;
  --gray-2: #8798AB;
  --blue-1: #D0E3F5;
  --blue-2: #598DC7;
  --blue-3: #1b4388;
  --blue-4: #2A60AD;
  --blue-5: #4082F4;
  --snowy: #fff;
  --scrollbat-track: rgba(0, 0, 0, 0.1);
  --scrollbat-thumb: rgba(0, 0, 0, 0.2);
}
